<div class="w-100-p exam_card">
    <mat-card class="w-100-p card" [style.border-left]="borderStyle" fusePerfectScrollbar>
        <div class="header" fxLayout="row" fxLayoutAlign="space-between">
            <div>
                <mat-card-title>{{exam.title}}</mat-card-title>
                <mat-card-subtitle>Start: {{exam.start | date: "short"}} | End: {{exam.end | date: "short"}}</mat-card-subtitle>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%">
                    <button color="accent" mat-icon-button (click)="openEditDialog(exam)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button color="accent" matTooltip="Add Study Set" matTooltipPosition="above"
                        [matMenuTriggerFor]="menu" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="addSet()">Add Existing Study Set</button>
                        <button mat-menu-item (click)="newSet()">Create New Study Set</button>
                    </mat-menu>
                    <button color="accent" (click)="deleteExam(exam._id)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <mat-card-content>


            <div class="mt-48">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let set"> {{set.name}} </td>
                    </ng-container>

                    <!-- Cards Column -->
                    <ng-container matColumnDef="cards">
                        <th mat-header-cell *matHeaderCellDef> Number of Cards </th>
                        <td mat-cell *matCellDef="let set"> {{set.cards.length}} </td>
                    </ng-container>

                    <!-- Retention Column -->
                    <ng-container matColumnDef="retention">
                        <th mat-header-cell *matHeaderCellDef> Retention Score </th>
                        <td mat-cell *matCellDef="let set"> {{set.retention}}% </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let set"> <button mat-icon-button matTooltip="Study" matTooltipPosition="above" color="primary" (click)="study(set._id)"><mat-icon>chrome_reader_mode</mat-icon></button> <button matTooltip="Remove" matTooltipPosition="above" mat-icon-button color="primary" (click)="removeSet(set._id)"><mat-icon>delete</mat-icon></button> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>

</div>